#contact{
    transition: transform 0.5s ease;
    transform: scale(1, 1);
  }

li a#contact:hover{
    transform: scale(2);
  }

#about{
    transition: transform 0.5s ease;
    transform: scale(1, 1);
  }

li a#about:hover{
    transform: scale(2);
  }

#portfolio{
    transition: transform 0.5s ease;
    transform: scale(1, 1);
  }

li a#portfolio:hover{
    transform: scale(2);
  }


  li a#contact:active{
    font-size: 3em;
}

li a#about:active{
    font-size: 3em;
}

li a#portfolio:active{
    font-size: 3em;
}
